.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /* background-color: white;  */
    z-index: 1000; 
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}
.logo{
    width: 150px;
}
.navbarMenu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #c6d3ff;
    /* color: #49557e; */
    font-size: 18px;
}
.navbarMenu li {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .navbarMenu li:hover {
    color: white;
  }

.navbarRight{
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    
    
}
button{
    background: transparent;
    font-size: 18px;
    color: #49557e;
    color: white;
    border: 1px solid rgb(255, 254, 253);
    padding: 10px 30px;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.3s;
}
.icon {
    height: 24px; 
    width: 24px;  
    /* color: aliceblue; */
}
button:hover{
    background-color: #fff4f2;
    color: black;
}
.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #083be5;
}
li{
    cursor: pointer;
}
.navbarSearchIcon{
    position: relative;
    
}
.dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
